body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.5rem;
}
.container {
  margin-top: 20px;
}

/*======== style of the fornt page ========*/
.input-field input[type="text"]:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid#64b5f6 !important;
  box-shadow: 0 1px 0 0#64b5f6 !important;
}

/*======== style of the game page ========*/
#game-page {
  display: none;
  /*width: 80%;*/
  padding: 30px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

#comment-line {
  margin-bottom: 40px;
}

#canvas {
  margin-bottom: 80px;
}

#gridContainer {
  /*width: 50%;*/
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.cell {
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: solid black 1px;
}

.cell:hover {
  background: #64b5f6;
}

#comment-line {
  margin: 0;
}
